<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doto</title>
  </head>
  <body>
    <div class="doto_window">
      <!-- header -->
      <div class="doto_header">
        <div class="doto_header_box">
          <div class="doto_logo">
            Hello Doto!
          </div>
        </div>
      </div>
      <!-- main -->
      <div class="doto_main">
        <div class="" id="doto_appbox">

        </div>
      </div>
      <!-- footer -->
      <div class="doto_footer">

      </div>
    </div>
    <script type="text/javascript" src='/index.js'></script>
  </body>
</html>
